@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: DM Serif Display;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

header{
    background-image: url(./img/markus-winkler-7iSEHWsxPLw-unsplash.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    position: relative;
    background-image: fixed;
    height: 100vh;
}

.overlay{
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

.title{
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 100px;

}

.glava{
    text-transform: uppercase;
    text-align: center;
}

span{
    color: #337AB7;
    text-shadow: 5px solid #f8f4f4;
}

.contact, .education, .experience, .skills, .language, .summary, .intern, .agree{
    width: 800px;
    height: 520px;
    background: #faf8f8;
    margin: 0 auto;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.border{
    width: 700px;
}

.h1 {
    width: 700px;
    height: 24px;
    line-height: 30px;
    margin-bottom: 50px;
    font-weight: bold;
}

.lich {
    font-size: 18px;
    height: 16px;
    line-height: 18px;
    margin-bottom: 30px;
}

.border input, .oblast, .marriage, .skills_level, .law, .porpuse, .specialist, .name_skills, .cityzen  {
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 14px;
    width: 220px;
    height: 48px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.oblast, .city, .birthday, .specialist {
    width: 170px !important; 
}

.factadress, .adress{
    width: 500px !important; 
}

.email, .cityzen{
    width: 265px !important;
}

.education {
    height: 370px !important;
}

.univer, .company, .position, .adress2, .review {
    width: 680px !important;
}

.experience {
    height: 950px !important;
}

textarea::placeholder {
    color: rgb(196, 189, 189);
    font-size: 1.2em;
    font-style: italic;
  }

.textarea{
    padding: 15px;
    border: #AEAEAE;
}

.textarea2{
    width: 650px;
    height: 100px;
    padding: 15px;
    border: #AEAEAE;
}

.h1_1{
    margin-bottom: 15px;
}

.date2{
    margin-top: 15px;
}

.name_skills{
    width: 420px !important;
}

.name_language{
    width: 300px !important;
}

.summary{
    height: 350px;
}

.intern{
    height: 200px;
}

.porpuse{
    width: 400px;
}

.send {
    font-family: DM Serif Display;
    background-color: rgb(22 136 254);
    color: white;
    font-size: 20px;
    width: 250px;
    height: 48px;
    margin-top: 20px;
    letter-spacing: 1px;
    border-radius: 4px;
    border: 0px solid black;
}

.agree{
    flex-direction: column;
    display: flex;
    height: 470px;
}

.check{
    width: 600px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.check input[type="checkbox"]{
    position: absolute;
    top: 5px;
    left: -20px;
}

.arrow-down {
    margin: 50px;
}
.arrow-down span {
    display: block;
    width: 50px;
    height: 50px;
    border-bottom: 10px solid #337AB7;
    border-right: 10px solid #337AB7;
    transform: rotate(45deg);
    margin: -16px;
    animation: arrow-down 2s infinite;
}
.arrow-down span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-down span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-down {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.birthday, .date, .date2, .skills_level, .oblast, .marriage, .law, .porpuse, .check_box, .specialist, .cityzen, .name_skills, .send:hover{
    cursor: pointer;
    opacity: 0,5px;
}


